.section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(to right, #42275a, #734b6d);
}
@media (max-width: 768px) {
  /* nothing as of now */
}
.title {
  display: flex;
  flex-direction: column;
  height: 92.3vh;
  width: 80%;
  align-items: start;
  justify-content: center;
}
.titleText,
.subtitleText {
  font-size: 3rem;
  color: #fff;
  padding: 0%;
  margin: 0%;
}
.subtitleText {
  font-size: 2rem;
}
.sectionLeft {
  flex: 1;
  color: white;
  font-size: 2rem;
  padding-top: 15rem;
  padding-left: 5rem;
}
.sectionRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 5rem;
}
.card {
  background-color: #bd83ff22;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  color: #fff;
}
